<!DOCTYPE html>
<html>
    <head>
        <title>404-文件不存在</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <header>
            <h1>404-文件不存在</h1>
        </header>
        <nav>
            {% if session['role'] == 'admin' %}
                <a href="{{ url_for('admin') }}">主页</a>
            {% else %}
                <a href="{{ url_for('user') }}">主页</a>
            {% endif %}
            <a href="{{ url_for('photos') }}">照片墙</a>
            <a href="{{ url_for('videos') }}">视频回忆</a>
            <a href="{{ url_for('teacher_profile_list') }}">老师档案</a>
            <a href="{{ url_for('student_profile_list') }}">同学档案</a>
            <a href="{{ url_for('logout') }}">退出登录</a>
        </nav>

        <main>
            <section>
                <h2>无此文件，请检查网址链接。</h2>
            </section>
        </main>
        
        
        <footer>
            <p>© 2023 毕业班全体同学</p>
        </footer>
    </body>
</html>