<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>老师档案列表</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>老师档案列表</h1>
    </header>
    <nav>
        {% if session['role'] == 'admin' %}
            <a href="{{ url_for('admin') }}">主页</a>
        {% else %}
            <a href="{{ url_for('index') }}">主页</a>
        {% endif %}
        <a href="{{ url_for('photos') }}">照片墙</a>
        <a href="{{ url_for('videos') }}">视频回忆</a>
        <a href="{{ url_for('teacher_profile_list') }}">老师档案</a>
        <a href="{{ url_for('student_profile_list') }}">同学档案</a>
        <a href="{{ url_for('logout') }}">退出登录</a>
    </nav>
    <main>
        <div class="profile-list-container">
            <h2>老师档案列表</h2>

            {% if session['role'] == 'admin' %}
            <h3><a href="{{ url_for('teacher_profile', id=count) }}">添加老师档案</a></h3>
            {% endif %}
            <div class="profile-list">
                {% for teacher in prof %}
                    <div class="profile-item">
                        <h3>{{ teacher[0] }}</h3>  <!-- 老师姓名 -->
                        <a href="{{ url_for('teacher_profile_view', id=teacher[1]) }}">查看档案</a>
                        {% if session['role'] == 'admin' %}
                        <a href="{{ url_for('teacher_profile_edit', id=teacher[1]) }}">编辑档案</a>
                        <a href="{{ url_for('teacher_profile_delete', id=teacher[1]) }}">删除档案</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div> 
        </div>
    </main>
    <footer>
        <p>© 2025 <a href="https://sunriseljy.github.io/">SunriseLJY</p>
    </footer>
</body>
</html>
