<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>视频回忆 - 毕业同学纪念网站</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header>
    <h1>视频回忆</h1>
    <p>我们的精彩瞬间</p>
  </header>

  <nav>
    {% if session['role'] == 'admin' %}
        <a href="{{ url_for('admin') }}">主页</a>
    {% else %}
        <a href="{{ url_for('user') }}">主页</a>
    {% endif %}
    <a href="{{ url_for('photos') }}">照片墙</a>
    <a href="{{ url_for('videos') }}">视频回忆</a>
    <a href="{{ url_for('teacher_profile_list') }}">老师档案</a>
    <a href="{{ url_for('student_profile_list') }}">同学档案</a>
    <a href="{{ url_for('logout') }}">退出登录</a>
  </nav>

  <main>
    <h3>请点击视频以将其下载。✈</h3>

    <div class="gallery">
      {% for year, videos in videos_by_year.items() %}
        {% if videos %}
          <nav>
          <h2><a href="{{ url_for('video_year', year=year) }}" class="more-link">{{year}}年</a></h2>
          </nav>

          <div class="grid">
            {% for video in videos[:3] %}  <!-- 只展示前3张 -->
              <div class="item">
                <video src="{{ url_for('static', filename='videos/' + year + '/' + video) }}" controls></video>
                <a href="{{ url_for('download', folder='videos', year=year, filename=video) }}" class="download-link">
                  下载视频
                </a>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </main>

  <footer>
    <p>© 2023 毕业班全体同学</p>
  </footer>
</body>
</html>